<div id="desc-wrapper">
	<h2 class="step-title"><span class="step-yellow">Stage 1:</span> who are you?</h2>
	<div>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mauris eros, malesuada in aliquet in, malesuada eget felis. Sed vitae finibus metus. Aenean tincidunt dolor sed dui iaculis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum aliquet metus nec risus interdum faucibus. 
	</div>
</div>
<div class="wrapper">
	<div class="radio">
		<label><input type="radio" name="optradio" value="0" checked>I am already registered as a fundit Non-Profit organization</label>
	</div>
	<div id="registered-pno"></div>
	<div class="radio">
		<label><input type="radio" name="optradio" value="1">I am new to fundit and would like to register my Non-Profit organization</label>
	</div>
	<div id="not-registered-pno"></div>		
</div>