<form>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 form-control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="e.g Give LTD">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="inputDesc">Details</label>
    <textarea class="form-control" id="inputDesc" rows="3"></textarea>
  </div>
  <div class="form-group row">
    <label for="inputWeb" class="col-sm-2 form-control-label">Website</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputWeb" placeholder="http://www.yourweb.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLoc" class="col-sm-2 form-control-label">Location</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLoc" placeholder="e.g New York City, New York">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 form-control-label">Logo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="e.g New York City, New York">
    </div>
  </div>    
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" id="next-btn" class="btn btn-secondary">Next</button>
    </div>
  </div>
</form>