<form>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 form-control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="e.g Give LTD">
    </div>
  </div>
  
  <div class="form-group row">   
		<label for="inputMedia" class="col-sm-2 form-control-label">Description</label>   
        <div class="col-md-10">
            <textarea rows="4" value="" class="form-control" placeholder="Enter your description here"></textarea>
        </div>
  </div>
  <div class="form-group row">
    <label for="inputWeb" class="col-sm-2 form-control-label">Website</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputWeb" placeholder="http://www.yourweb.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLoc" class="col-sm-2 form-control-label">Location</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLoc" placeholder="e.g New York City, New York">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 form-control-label">Logo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="e.g New York City, New York">
    </div>
  </div>    
  <div class="form-group row" style="text-align:right">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" id="next-btn" class="btn btn-secondary">Next</button>
    </div>
  </div>
</form>