<div id="desc-wrapper">
	<h2 class="step-title"><span class="step-yellow">Stage 3:</span> select products</h2>
	<div>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mauris eros, malesuada in aliquet in, malesuada eget felis. Sed vitae finibus metus. Aenean tincidunt dolor sed dui iaculis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum aliquet metus nec risus interdum faucibus. 
	</div>
</div>
<div id="search-wrapper">
<div class="form-group row">
	<div class="input-group">
	  <input type="text" id="inputKeyword" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
	  <span class="input-group-addon green-addon" id="basic-addon1">
	  	<span class="fa fa-search"></span>
	  </span>	
	</div>	
</div>
</div>

<div id="products-wrapper">

<div id="products" class="row list-group">
      <div class="row item-list">
            <div class="col-lg-12">
                <h1 class="page-header">Select items</h1>
            </div>
            <div id="actual-items">
			{{#products}}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb item" data-itemid="{{itemId}}">
                <div class="thumbnail">
                	<div class="price">${{sellingStatus.convertedCurrentPrice.amount}}</div>
                	<div class="checkSelected hidden"><span class="fa fa-check"></span></div>
                    <div style="height:150px">
                    	<img class="img-responsive item-img" src="{{galleryURL}}" alt="">
                    </div>
                    <div class="product-title">{{title}}</div>
                </div>
            </div>
            {{/products}}
            {{^products}}
            	<span id="no-items">No items to display.</span>
            {{/products}}
        </div>
        <div id="loading" class="hidden" style="width:100%;text-align:center"><img src="media/image/loader.gif" class="loader" /></div>
<div id="selected-products" style="text-align:center">
	<h1 class="page-header">Total Amount: <span id="totalAmount">{{summary.totalAmount}}</span><span class="dollar">$</span></h1>
</div>

</div>
