<div class="wrapper">
  <div class="form-group row">
    <label for="inputTitle" class="col-sm-2 form-control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTitle" placeholder="e.g New music room in Lod">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputSubTitle" class="col-sm-2 form-control-label">Sub-Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputSubTitle" placeholder="e.g Help us establish a new community music room in the city of Lod">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputMedia" class="col-sm-2 form-control-label">Link to Media</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputWeb" placeholder="http://www.youtube.com?">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDesc">Details</label>
    <textarea class="form-control" id="inputDesc" rows="3"></textarea>
  </div>
  <div class="form-group row">
    <label for="inputRaise">How much would you like to raise?</label>
    <input type="number" class="form-control" id="inputRaise" placeholder="20000">
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" id="next-btn" class="btn btn-secondary">Next</button>
    </div>
  </div>
</div>