<div class="col-lg-2 thumb selectedItem" data-itemid="{{itemId}}">
	<div class="selected-thumb-img" style="background: url('{{galleryURL}}')">
		<div class="removeItem" data-itemid="{{itemId}}">
			<span class="removeItemIcon fa fa-close"></span>
		</div>
	</div>
</div>