<div class=" selectedItem" data-itemid="{{itemId}}">
	<div class="selected-thumb-img" style="background: url('{{galleryURL}}')">
		<div class="removeItem" data-itemid="{{itemId}}">remove</div>
	</div>
</div>