<div class="col-lg-2 thumb selectedItem" data-itemid="{{itemId}}">
	<div class="selected-thumb-img" style="background: url('{{galleryURL}}')">
		<div class="removeItem">
			<span class="removeItemIcon fa fa-close" data-itemid="{{unique_id}}"></span>
		</div>
	</div>
</div>