<img src="media/image/logo.png">

<div style="float:right;">
	<div style="float:right">
		<div style="float:left"><a href="#campaign/create/new/" id="new-campaign">Start a campaign</a></div>
		<div style="float:left;background:url('media/image/ittay.jpg')" id="fb-profileimg" />
	</div>
</div>
<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"> -->
<!-- </fb:login-button> -->
