<div style="margin:auto;">
	<img src="media/image/logo.png" id="logo" />
	<div style="float:right;position:absolute;top:0;right:0">
		<div style="float:left;position:relative;top:25px"><a href="#campaign/create/new/" id="new-campaign">Start a campaign</a></div>
		<div style="float:left;background:url('media/image/ittay.jpg')" id="fb-profileimg" />
	</div>
</div>
<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"> -->
<!-- </fb:login-button> -->
