<img src="media/image/logo.png">

<div style="float:right;display:none">
	<div style="float:right">
		<div style="float:left;background:url('media/image/ittay.jpg')" id="fb-profileimg" />
		<div style="float:left">Hello, Ittay!</div>
	</div>
</div>
<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"> -->
<!-- </fb:login-button> -->
