<div id="main-wrapper">
<!-- <div class = "row"> -->
<!--     <div class="col-lg-12"> -->
<!--       <h1 class="page-header">Select items</h1> -->
<!--     </div> -->
<!--    {{#campaigns}} -->
<!--    <div class = "col-md-3 campaign-box"> -->
<!--       <div class = "thumbnail campaign-img"> -->
<!--          <img src = "{{image}}" alt = "Generic placeholder"> -->
<!--       </div> -->
      
<!--       <div class = "caption" style="text-align:center"> -->
<!--          <h3>{{title}}</h3> -->
<!--          <p class="campaign-by">by: Latet</p> -->
<!--       </div> -->
<!--    </div> -->
<!--    {{/campaigns}} -->
<!-- </div> -->
<div id="products" class="row list-group">
      <div class="row item-list">
            <div class="col-lg-12">
                <h1 class="page-header">Select items</h1>
            </div>
            <div id="actual-items">
			{{#campaigns}}
            <div class="col-lg-4 col-md-4 col-xs-6 thumb item" data-itemid="{{unique_id}}">
                <div class="thumbnail">
                    <div style="height:250px;overflow:hidden">
                    	<img class="img-responsive item-img" style="height:100%" src="{{image}}" alt="">
                    </div>
                    <div class="camp-desc-box">
                    	<h3>{{title}}</h3>
                    	<h5>by Latet</h5>
                    </div>
                     <div class="camp-prog-box">
                    	<div class="prog left">$1032</div>
                    	<div class="prog right"><span class="prog-from">1</span> out of <span class="prog-to">3</span></div>
                    	<div style="clear:both"></div>
                    </div>                   
                </div>
            </div>
            {{/campaigns}}
            {{^campaigns}}
            	<span id="no-items">No items to display.</span>
            {{/campaigns}}
        </div>
        <div id="loading" class="hidden" style="width:100%;text-align:center"><img src="media/image/loader.gif" class="loader" /></div>
	</div>
</div>
  
</div>